.loginWrapper .mainWrapper {
  position: relative;
  background-color: #FFA69E;
  color: white;
  height: 100vh;
}
.loginWrapper .mainWrapper .text {
  padding: 30px;
  padding-top: 140px;
}
.loginWrapper .mainWrapper .text .title {
  font-size: 30px;
}
.loginWrapper .mainWrapper .text .subTitle {
  font-size: 24px;
}
.loginWrapper .mainWrapper .text .subTitle span {
  color: #FF686B;
}
.loginWrapper .mainWrapper .top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #FF686B;
}
.loginWrapper .mainWrapper .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  line-height: 100px;
  height: 100px;
  font-weight: bold;
}
.loginWrapper .mainWrapper .bottomStyle div:nth-child(3) {
  height: 65px;
  color: #FFFFFF;
  font-weight: bold;
}
