@import "../../css/variables";
.loginWrapper{
.mainWrapper{
  position: relative;
  background-color: @color4;
  color: white;
  height: 100vh;

  .text{
    padding: 30px;
    padding-top: 140px;
    .title{
      font-size: 30px;
    }
    .subTitle{
      font-size: 24px;
      span{
        color: @color1;
      }
    }

  }

  .top{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: @color1;
  }
  .bottom{
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 100px;
    height: 100px;
    font-weight: bold;
  }
  .bottomStyle{
    div:nth-child(3){
     height: 65px;
      color: @textColor;
      font-weight: bold;
    }
  }
}
}