<div class="wrapper loginWrapper" ng-controller="LoginCtrl as ctrl">
  <div class="mainWrapper">


    <div class="top"> </div>

    <div class="text">


        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>

          <div class="title">please sign In with Facebook</div>
        <div class="subTitle">
        i'ts <span>super</span> importent for the match accuracy...
        </div>
        <fb:login-button scope="public_profile,user_friends,email,user_about_me,user_likes,user_birthday
    " onlogin="checkLoginState();">
        </fb:login-button>
        <div id="status"></div>
        <div
                class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true">
        </div>
        <button> login</button>
        <button ng-click="$root.components.login=false;$root.components.getStarted=true;$root.components.offers=true;"> login end</button>


    </div>


    <div class="bottom">
        <div class="bottomStyle">
            <div></div>
            <div></div>
            <div><span>we promise not to publish anything to facebook</span></div>
            <div></div>
            <div></div>
        </div>
    </div>
  </div>
</div>


