@import "../../css/variables";
.offersWrapper{
  padding-top: 0 !important;
.title{
  font-size: 30px;
  color: #fff;
  background-color: @color4;
  padding: 3px 20px;

}

  .eventsWrapper ,.peopleWrapper{
    padding: 20px;
    white-space: normal;
    background-color: @color2;
    button{
      padding: 10px;
      margin: 5px;
      height: 200px;
      width: 49%;
      & > div:first-child{
       font-size: 24px;
        font-weight: bold;
      }
      & > div:last-child{
        font-size: 22px;
      }
    }
  }
  .peopleWrapper{
    button {
      width: 25%;
    }
  }
  .create{
    width: 100%;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
  }
}
@media (max-width: 900px){
  .offersWrapper{
    .eventsWrapper ,.peopleWrapper {
      padding: 0;
      margin: 0;
      button{
        margin:0;
        border-color: transparent;
        border-radius: 0;
        height: 200px;
        padding: 0;
      }


    }
  }
}