.offersWrapper {
  padding-top: 0 !important;
}
.offersWrapper .title {
  font-size: 30px;
  color: #fff;
  background-color: #FFA69E;
  padding: 3px 20px;
}
.offersWrapper .eventsWrapper,
.offersWrapper .peopleWrapper {
  padding: 20px;
  white-space: normal;
  background-color: #A5FFD6;
}
.offersWrapper .eventsWrapper button,
.offersWrapper .peopleWrapper button {
  padding: 10px;
  margin: 5px;
  height: 200px;
  width: 49%;
}
.offersWrapper .eventsWrapper button > div:first-child,
.offersWrapper .peopleWrapper button > div:first-child {
  font-size: 24px;
  font-weight: bold;
}
.offersWrapper .eventsWrapper button > div:last-child,
.offersWrapper .peopleWrapper button > div:last-child {
  font-size: 22px;
}
.offersWrapper .peopleWrapper button {
  width: 25%;
}
.offersWrapper .create {
  width: 100%;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .offersWrapper .eventsWrapper,
  .offersWrapper .peopleWrapper {
    padding: 0;
    margin: 0;
  }
  .offersWrapper .eventsWrapper button,
  .offersWrapper .peopleWrapper button {
    margin: 0;
    border-color: transparent;
    border-radius: 0;
    height: 200px;
    padding: 0;
  }
}
