@import "../../css/variables";
.welcomeWrapper{
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  .mainWrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(238, 238, 238, 0.5);
    text-align: center;
    font-size: 20px;
    input, button {
      box-sizing: border-box;
      width: 200px;
      margin: 10px auto;
      display: block;
    }
    .logoImg{
      width: 50%;
      text-align: center;
      margin: 0 auto;
      height: 190px;
      background-size:75% ;
    }
    .title{
      color: @textColor;
    }
    input{
      background-color: transparent;
      border-color: black;
      color: @textColor;
    }
    button {
      background-color: @color1;
      color: @color4;
      border-color: transparent;
    }
    .bottomStyle{
      position: absolute;
    }
  }
}