.welcomeWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}
.welcomeWrapper .mainWrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(238, 238, 238, 0.5);
  text-align: center;
  font-size: 20px;
}
.welcomeWrapper .mainWrapper input,
.welcomeWrapper .mainWrapper button {
  box-sizing: border-box;
  width: 200px;
  margin: 10px auto;
  display: block;
}
.welcomeWrapper .mainWrapper .logoImg {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  height: 190px;
  background-size: 75% ;
}
.welcomeWrapper .mainWrapper .title {
  color: #FFFFFF;
}
.welcomeWrapper .mainWrapper input {
  background-color: transparent;
  border-color: black;
  color: #FFFFFF;
}
.welcomeWrapper .mainWrapper button {
  background-color: #FF686B;
  color: #FFA69E;
  border-color: transparent;
}
.welcomeWrapper .mainWrapper .bottomStyle {
  position: absolute;
}
