.start {
    z-index: 1;
    top: 66px;
    position: relative;
}
.start .buttonsWrapper {
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    text-align: center;
    padding: 12px;
    white-space: normal;
}
.start .buttonsWrapper button {
    position: relative;
    display: inline-block;
    background-color: #3e66db;
    border: 2px solid #4471db ;
    color: white;
    font-size: 21px;
    height: 40px;
    width: 31%;
    margin: 4px;
}
.start .buttonsWrapper button:hover {
    border: white;
}
.toolbarwrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;
    background: black;
    right: 0;
}
.wrapper {
    z-index: 2;
    top: 66px;
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    border-top: 7px solid #747474;
}
.wrapper .close {
    position: absolute;
    top: 12px;
    left: 12px;
}
@media (max-width: 500px) {
    .wrapper {
        border: 7px solid #747474;
    }
}
