body,
html {
  height: 100%;
  margin: 0;
  background: #FF686B;
}
.mainView {
  font-family: 'Droid Sans', sans-serif;
  height: 100%;
  top: 0;
  width: 100%;
  position: absolute;
  left: 0;
  background: #e3e3e3;
  background: -webkit-linear-gradient(#ffffff, #e3e3e3);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffffff, #e3e3e3);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffffff, #e3e3e3);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffffff, #e3e3e3);
  /* Standard syntax */
}
.mainView button,
.mainView input {
  color: #ccc;
}
button {
  font-family: 'Droid Sans', sans-serif;
  background-color: #fff;
  border: 2px solid #84DCC6;
  border-radius: 5px;
  color: #A5FFD6;
  outline: transparent;
}
.appScreens {
  height: -moz-calc(34vh);
  height: -webkit-calc(34vh);
  height: -o-calc(34vh);
  height: calc(100vh - @navHeight);
  top: 0;
  width: 100%;
  position: absolute;
  left: 0;
}
.appScreens .wrapper {
  padding-top: 66px;
}
.getStartScreens {
  height: 100vh;
  top: 0;
  width: 100%;
  position: absolute;
  left: 0;
  text-align: center;
}
.bottomStyle {
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
}
.bottomStyle > div {
  height: 20px;
}
.bottomStyle div:nth-child(5) {
  background-color: #ffffff;
}
.bottomStyle div:nth-child(4) {
  background-color: #FFA69E;
}
.bottomStyle div:nth-child(3) {
  background-color: #FF686B;
}
.bottomStyle div:nth-child(2) {
  background-color: #84DCC6;
}
.bottomStyle div:nth-child(1) {
  background-color: #A5FFD6;
}
.topStyle {
  position: relative;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}
.topStyle > div {
  height: 20px;
}
.topStyle div:nth-child(1) {
  background-color: #ffffff;
}
.topStyle div:nth-child(2) {
  background-color: #FFA69E;
}
.topStyle div:nth-child(3) {
  background-color: #FF686B;
}
.topStyle div:nth-child(4) {
  background-color: #84DCC6;
}
.topStyle div:nth-child(5) {
  background-color: #A5FFD6;
}
.logoImg {
  background-image: url('../source/images/logo.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% ;
  margin-left: -moz-calc(21%);
  margin-left: -webkit-calc(21%);
  margin-left: -o-calc(21%);
  margin-left: calc(50% - 29px);
}
.welcomeWrapper {
  background-color: #FF686B;
}
button {
  height: 50px;
  padding: 3px;
  border-radius: 4px;
}
.title {
  font-size: 36px;
}
.subTitle {
  font-size: 24px;
}
.start {
  z-index: 1;
  top: 66px;
  position: relative;
}
.start .buttonsWrapper {
  position: relative;
  width: 90%;
  right: 10%;
  text-align: center;
  padding: 12px;
  white-space: normal;
}
.start .buttonsWrapper button {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 21px;
  height: 40px;
  width: 33%;
}
.start .buttonsWrapper button:hover {
  border: white;
}
.navBar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  height: 66px;
  background-color: #FF686B;
  z-index: 5;
}
.navBar .logoImg,
.navBar .navActionToggle,
.navBar .options {
  display: inline-block;
  margin: 0;
}
.navBar .logoImg {
  position: absolute;
  right: 0;
  width: 54px;
  height: 50px;
  top: 0;
  z-index: 2;
}
.navBar .navActionToggle {
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 2;
  width: 40px;
  height: 53px;
}
.navBar .options {
  position: relative;
  width: -moz-calc(0%);
  width: -webkit-calc(0%);
  width: -o-calc(0%);
  width: calc(100% - 100px);
  margin-left: 50px;
  text-align: center;
}
.navBar .options .smallOptions {
  width: 20%;
}
.navBar .options .largeOptions {
  width: 25%;
}
.navBar .fa-exclamation-circle {
  color: red;
}
.navBar button {
  background-color: transparent;
  border: transparent;
  color: #ffffff;
  position: relative;
  display: inline-block;
}
.navBar button .fa {
  font-size: 28px;
}
.navBar button .tooltip {
  position: absolute;
  left: 60px;
  top: 30px;
  padding: 2px;
  color: #ffffff;
  width: 200px;
  border: 4px solid #747474;
}
.navBar .navActionToggle {
  width: 40px;
  font-size: 40px;
}
.navBar .navActionToggle {
  white-space: nowrap;
}
.sideBar {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 66px;
  background-color: black;
}
.sideBar button {
  border: none;
  border-bottom: 2px solid #ffffff;
  font-size: 22px;
  color: #A5FFD6;
  font-weight: bold;
  width: 100%;
  background-color: transparent;
}
/**.wrapper{
    z-index: 2;
    top:66px;
    width: 100%;
    height: 100%;
    position: fixed;
    .close{
    position: absolute;
    top:12px;
    left: 12px;
   }
}**/
@media (max-width: 500px) {
  .sideBar {
    top: 50px;
  }
  .appScreens {
    position: relative;
    width: 100%;
    height: -moz-calc(50vh);
    height: -webkit-calc(50vh);
    height: -o-calc(50vh);
    height: calc(100vh - @mobileNavHeight);
    top: 0;
  }
  .navBar {
    height: 50px;
  }
  .navBar button .fa {
    font-size: 20px;
  }
  .navBar .navActionToggle {
    height: 45px;
  }
  .appScreens .wrapper {
    padding-top: 50px;
  }
}
.createWrapper .title {
  color: #84DCC6;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.createWrapper .subTitle {
  color: #A5FFD6;
  font-size: 20px;
  padding: 5px 0;
}
.createWrapper form {
  padding: 20px 0;
  width: 80%;
  margin: auto;
  font-size: 19px;
}
.createWrapper .userInput {
  padding: 5px;
}
.createWrapper .userInput input {
  width: 100%;
  height: 29px;
  padding-top: 4px;
}
.createWrapper button {
  width: 100px;
  height: 60px;
}
.createWrapper .times {
  white-space: normal;
}
.createWrapper .times .text,
.createWrapper .times input,
.createWrapper .times select {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.createWrapper .back {
  height: 50px;
}
.segmentationWrapper .mainWrapper {
  background-color: #84DCC6;
}
.segmentationWrapper .mainWrapper .titleWrapper {
  background-color: #FF686B;
}
.segmentationWrapper .mainWrapper .subTitle {
  color: #84DCC6;
}
.segmentationWrapper .segmentTypesWrapper {
  white-space: normal;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.segmentationWrapper .segmentTypesWrapper button {
  margin: 5px;
  width: 33%;
  position: relative;
  display: inline-block;
  height: 200px;
  opacity: 0.6;
}
.segmentationWrapper .segmentTypesWrapper button:hover {
  opacity: 1;
}
.segmentationWrapper .segmentTypesWrapper .selected {
  border: 4px solid #747474;
  border-radius: 6px;
}
.segmentationWrapper .done {
  width: 300px;
  height: 65px;
  color: #A5FFD6;
}
@media (max-width: 500px) {
  .segmentationWrapper .mainWrapper .segmentTypesWrapper button {
    margin: 0;
    border-radius: 0;
    color: #ccc;
    border: transparent;
  }
  .segmentationWrapper .mainWrapper .segmentTypesWrapper .selected {
    border: 4px solid #747474;
    border-radius: 6px;
  }
}
.offersWrapper {
  padding-top: 0 !important;
}
.offersWrapper .title {
  font-size: 30px;
  color: #fff;
  background-color: #FFA69E;
  padding: 3px 20px;
}
.offersWrapper .eventsWrapper,
.offersWrapper .peopleWrapper {
  padding: 20px;
  white-space: normal;
  background-color: #A5FFD6;
}
.offersWrapper .eventsWrapper button,
.offersWrapper .peopleWrapper button {
  padding: 10px;
  margin: 5px;
  height: 200px;
  width: 49%;
}
.offersWrapper .eventsWrapper button > div:first-child,
.offersWrapper .peopleWrapper button > div:first-child {
  font-size: 24px;
  font-weight: bold;
}
.offersWrapper .eventsWrapper button > div:last-child,
.offersWrapper .peopleWrapper button > div:last-child {
  font-size: 22px;
}
.offersWrapper .peopleWrapper button {
  width: 25%;
}
.offersWrapper .create {
  width: 100%;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 900px) {
  .offersWrapper .eventsWrapper,
  .offersWrapper .peopleWrapper {
    padding: 0;
    margin: 0;
  }
  .offersWrapper .eventsWrapper button,
  .offersWrapper .peopleWrapper button {
    margin: 0;
    border-color: transparent;
    border-radius: 0;
    height: 200px;
    padding: 0;
  }
}
.welcomeWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}
.welcomeWrapper .mainWrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(238, 238, 238, 0.5);
  text-align: center;
  font-size: 20px;
}
.welcomeWrapper .mainWrapper input,
.welcomeWrapper .mainWrapper button {
  box-sizing: border-box;
  width: 200px;
  margin: 10px auto;
  display: block;
}
.welcomeWrapper .mainWrapper .logoImg {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  height: 190px;
  background-size: 75% ;
}
.welcomeWrapper .mainWrapper .title {
  color: #FFFFFF;
}
.welcomeWrapper .mainWrapper input {
  background-color: transparent;
  border-color: black;
  color: #FFFFFF;
}
.welcomeWrapper .mainWrapper button {
  background-color: #FF686B;
  color: #FFA69E;
  border-color: transparent;
}
.welcomeWrapper .mainWrapper .bottomStyle {
  position: absolute;
}
.loginWrapper .mainWrapper {
  position: relative;
  background-color: #FFA69E;
  color: white;
  height: 100vh;
}
.loginWrapper .mainWrapper .text {
  padding: 30px;
  padding-top: 140px;
}
.loginWrapper .mainWrapper .text .title {
  font-size: 30px;
}
.loginWrapper .mainWrapper .text .subTitle {
  font-size: 24px;
}
.loginWrapper .mainWrapper .text .subTitle span {
  color: #FF686B;
}
.loginWrapper .mainWrapper .top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background-color: #FF686B;
}
.loginWrapper .mainWrapper .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  line-height: 100px;
  height: 100px;
  font-weight: bold;
}
.loginWrapper .mainWrapper .bottomStyle div:nth-child(3) {
  height: 65px;
  color: #FFFFFF;
  font-weight: bold;
}
.profileWrapper .userData,
.profileWrapper .userIntrest {
  color: #A5FFD6;
  padding: 10px;
}
.profileWrapper .userData .title,
.profileWrapper .userIntrest .title {
  color: #84DCC6;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
}
.profileWrapper .btn {
  padding: 10px;
  height: 60px;
  width: 150px;
  font-size: 24px;
}
.profileWrapper .btn .fa {
  padding: 0 4px;
}
.profileWrapper .userData > div {
  padding: 5px 0;
}
.profileWrapper .userIntrest .description {
  display: inline-block;
  color: #A5FFD6;
  font-size: 18px;
  padding-left: 4px;
}
.profileWrapper .userIntrest .description .fa {
  padding: 0 5px;
}
.calendarTitle {
  font-size: 20px;
  color: #FFA69E;
}
.calendarNext,
.calendarPrev {
  color: #84DCC6;
  border: none;
  background-color: #FFFFFF;
}
.cal-events-num {
  margin-top: 20px;
}
.cal-month-day {
  position: relative;
  display: block;
  width: 100%;
}
.cal-month-day .cal-events-num {
  margin-left: 10px;
  margin-top: 18px;
}
#cal-week-box {
  position: absolute;
  width: 70px;
  left: -71px;
  top: -1px;
  padding: 8px 5px;
  cursor: pointer;
}
.cal-day-tick {
  position: absolute;
  right: 50%;
  bottom: -21px;
  padding: 0px 5px;
  cursor: pointer;
  z-index: 5;
  text-align: center;
  width: 26px;
  margin-right: -17px;
}
.cal-year-box #cal-day-tick {
  margin-right: -7px;
}
.cal-slide-box {
  position: relative;
}
.cal-slide-tick {
  position: absolute;
  width: 16px;
  margin-left: -7px;
  height: 9px;
  top: -1px;
  z-index: 1;
}
.cal-slide-tick.tick-month1 {
  left: 12.5%;
}
.cal-slide-tick.tick-month2 {
  left: 37.5%;
}
.cal-slide-tick.tick-month3 {
  left: 62.5%;
}
.cal-slide-tick.tick-month4 {
  left: 87.5%;
}
.cal-slide-tick.tick-day1 {
  left: 7.14285714285715%;
}
.cal-slide-tick.tick-day2 {
  left: 21.42857142857143%;
}
.cal-slide-tick.tick-day3 {
  left: 35.71428571428572%;
}
.cal-slide-tick.tick-day4 {
  left: 50%;
}
.cal-slide-tick.tick-day5 {
  left: 64.2857142857143%;
}
.cal-slide-tick.tick-day6 {
  left: 78.57142857142859%;
}
.cal-slide-tick.tick-day7 {
  left: 92.85714285714285%;
}
.events-list {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 50;
}
.cal-slide-content ul.unstyled {
  margin-bottom: 0;
}
.cal-slide-content ul li.dragging-active .event-item {
  color: black;
}
.cal-row-fluid {
  width: 100%;
  *zoom: 1;
}
.cal-row-fluid:before,
.cal-row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.cal-row-fluid:after {
  clear: both;
}
.cal-row-fluid [class*="cal-cell"] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 0%;
  *margin-left: -0.05213764%;
}
.cal-row-fluid [class*="cal-cell"]:first-child {
  margin-left: 0;
}
.cal-row-fluid .controls-row [class*="cal-cell"] + [class*="cal-cell"] {
  margin-left: 0%;
}
.cal-row-fluid .cal-cell7 {
  width: 100%;
  *width: 99.94669509594883%;
}
.cal-row-fluid .cal-cell6 {
  width: 85.71428571428571%;
  *width: 85.66098081023453%;
}
.cal-row-fluid .cal-cell5 {
  width: 71.42857142857142%;
  *width: 71.37526652452024%;
}
.cal-row-fluid .cal-cell4 {
  width: 57.14285714285714%;
  *width: 57.089552238805965%;
}
.cal-row-fluid .cal-cell3 {
  width: 42.857142857142854%;
  *width: 42.80383795309168%;
}
.cal-row-fluid .cal-cell2 {
  width: 28.57142857142857%;
  *width: 28.518123667377395%;
}
.cal-row-fluid .cal-cell1 {
  width: 14.285714285714285%;
  *width: 14.232409381663112%;
}
.cal-week-box .cal-offset7,
.cal-row-fluid .cal-offset7,
.cal-row-fluid .cal-offset7:first-child {
  margin-left: 100%;
  *margin-left: 99.89339019189765%;
}
.cal-week-box .cal-offset6,
.cal-row-fluid .cal-offset6,
.cal-row-fluid .cal-offset6:first-child {
  margin-left: 85.71428571428571%;
  *margin-left: 85.60767590618336%;
}
.cal-week-box .cal-offset5,
.cal-row-fluid .cal-offset5,
.cal-row-fluid .cal-offset5:first-child {
  margin-left: 71.42857142857142%;
  *margin-left: 71.32196162046907%;
}
.cal-week-box .cal-offset4,
.cal-row-fluid .cal-offset4,
.cal-row-fluid .cal-offset4:first-child {
  margin-left: 57.14285714285714%;
  *margin-left: 57.03624733475479%;
}
.cal-week-box .cal-offset3,
.cal-row-fluid .cal-offset3,
.cal-row-fluid .cal-offset3:first-child {
  margin-left: 42.857142857142854%;
  *margin-left: 42.750533049040506%;
}
.cal-week-box .cal-offset2,
.cal-row-fluid .cal-offset2,
.cal-row-fluid .cal-offset2:first-child {
  margin-left: 28.57142857142857%;
  *margin-left: 28.46481876332622%;
}
.cal-week-box .cal-offset1,
.cal-row-fluid .cal-offset1,
.cal-row-fluid .cal-offset1:first-child {
  margin-left: 14.285714285714285%;
  *margin-left: 14.17910447761194%;
}
.cal-row-fluid .cal-cell1 {
  width: 14.285714285714285%;
  *width: 14.233576642335766%;
}
[class*="cal-cell"].hide,
.cal-row-fluid [class*="cal-cell"].hide {
  display: none;
}
[class*="cal-cell"].pull-right,
.cal-row-fluid [class*="cal-cell"].pull-right {
  float: right;
}
.cal-row-head [class*="cal-cell"]:first-child,
.cal-row-head [class*="cal-cell"] {
  min-height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cal-events-num {
  margin-top: 20px;
}
.cal-month-day {
  position: relative;
  display: block;
  width: 100%;
}
#cal-week-box {
  position: absolute;
  width: 56px;
  left: -71px;
  top: -1px;
  padding: 8px 5px;
  cursor: pointer;
}
.cal-day-tick {
  position: absolute;
  right: 50%;
  bottom: -21px;
  padding: 0px 5px;
  cursor: pointer;
  z-index: 5;
  text-align: center;
  width: 26px;
  margin-right: -17px;
}
.cal-year-box #cal-day-tick {
  margin-right: -7px;
}
.cal-slide-box {
  position: relative;
  height: 80px !important;
}
.cal-slide-tick {
  position: absolute;
  width: 16px;
  margin-left: -7px;
  height: 9px;
  top: -1px;
  z-index: 1;
}
.cal-slide-tick.tick-month1 {
  left: 12.5%;
}
.cal-slide-tick.tick-month2 {
  left: 37.5%;
}
.cal-slide-tick.tick-month3 {
  left: 62.5%;
}
.cal-slide-tick.tick-month4 {
  left: 87.5%;
}
.cal-slide-tick.tick-day1 {
  left: 7.14285714285715%;
}
.cal-slide-tick.tick-day2 {
  left: 21.42857142857143%;
}
.cal-slide-tick.tick-day3 {
  left: 35.71428571428572%;
}
.cal-slide-tick.tick-day4 {
  left: 50%;
}
.cal-slide-tick.tick-day5 {
  left: 64.2857142857143%;
}
.cal-slide-tick.tick-day6 {
  left: 78.57142857142859%;
}
.cal-slide-tick.tick-day7 {
  left: 92.85714285714285%;
}
.events-list {
  position: absolute;
  bottom: 0;
  left: 3px;
  width: 50px;
  text-align: center;
  z-index: 50;
}
.cal-slide-content ul.unstyled {
  margin-bottom: 0;
}
.cal-slide-content ul li.dragging-active .event-item {
  color: black;
}
.cal-week-box {
  position: relative;
}
.cal-week-box [data-event-class] {
  white-space: nowrap;
  height: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 12px;
  padding: 0 3px !important;
}
.cal-week-box .cal-day-panel {
  border: 0px !important;
}
.cal-week-box.cal-day-box .cal-row-head {
  padding-left: 60px;
}
.cal-week-box.cal-day-box .cal-day-panel {
  overflow-x: hidden;
}
.cal-day-box {
  text-wrap: none;
  overflow-x: auto !important;
  overflow-y: hidden;
}
.cal-day-box .cal-day-hour-part {
  height: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: thin dashed  transparent;
}
.cal-day-box .cal-day-hour .day-highlight {
  height: 30px;
}
.cal-day-box .cal-hours {
  font-weight: bold;
  font-size: 12px;
}
.cal-day-box .cal-day-hour:nth-child(odd) {
  background-color: transparent;
}
.cal-day-box .cal-day-panel {
  position: relative;
  padding-left: 60px;
  border: solid 1px  transparent;
}
.cal-day-box .cal-day-panel-hour {
  position: absolute;
  width: 100%;
  margin-left: -60px;
}
.cal-day-box .day-event {
  position: absolute;
  width: 150px;
  overflow: hidden;
  padding: 2px 3px !important;
}
.cal-day-box .day-event a {
  font-size: 12px;
  text-overflow: ellipsis;
}
.cal-day-box .day-highlight {
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid  transparent;
  margin: 1px 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cal-day-box .day-highlight.dh-event-important {
  border: 1px solid #ad2121;
}
.cal-day-box .day-highlight.dh-event-info {
  border: 1px solid dodgerblue;
}
.cal-day-box .day-highlight.dh-event-general {
  border: 1px solid #5baaff;
  background-color: #5baaff;
}
.cal-day-box .day-highlight.dh-event-need {
  border: 1px solid #5de393;
  background-color: #5de393;
}
.cal-day-box .day-highlight.dh-event-warning {
  border: 1px solid #fd727d;
  background-color: #fd727d ;
}
.cal-day-box .day-highlight.dh-event-inverse {
  border: 1px solid #1b1b1b;
}
.cal-day-box .day-highlight.dh-event-success {
  border: 1px solid darkgreen;
}
.cal-day-box .day-highlight.dh-event-special {
  background-color: transparent;
  border: 1px solid #800080;
}
.event {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 4px;
  margin-bottom: 2px;
  border-radius: 8px;
  border: 1px solid transparent;
  text-align: center;
}
.event-block {
  display: block;
  background-color: #c3c3c3;
  width: 20px;
  height: 100%;
}
.cal-event-list {
  overflow-y: auto;
}
.cal-event-list .event.pull-left {
  margin-top: 3px;
}
.event-important {
  background-color: #ad2121;
}
.event-general {
  background-color: #5baaff;
}
.event-need {
  background-color: #5de393;
}
.event-warning {
  background-color: #fd727d;
}
.event-inverse {
  background-color: #1b1b1b;
}
.event-success {
  background-color: darkgreen;
}
.event-special {
  background-color: #800080;
}
.day-highlight:hover,
.day-highlight {
  background-color: transparent;
}
.day-highlight.dh-event-important:hover,
.day-highlight.dh-event-important {
  background-color: transparent;
}
.day-highlight.dh-event-warning:hover,
.day-highlight.dh-event-warning {
  background-color: transparent;
}
.day-highlight.dh-event-info:hover,
.day-highlight.dh-event-info {
  background-color: transparent;
}
.day-highlight.dh-event-inverse:hover,
.day-highlight.dh-event-inverse {
  background-color: transparent;
}
.day-highlight.dh-event-success:hover,
.day-highlight.dh-event-success {
  background-color: transparent;
}
.day-highlight.dh-event-special:hover,
.day-highlight.dh-event-special {
  background-color: transparent;
}
.cal-row-head [class*="cal-cell"]:first-child,
.cal-row-head [class*="cal-cell"] {
  font-weight: bolder;
  text-align: center;
  border: 0px solid;
  padding: 5px 0;
  float: right;
  color: white;
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 25px;
}
.cal-row-head [class*="cal-cell"] small {
  font-weight: normal;
}
.cal-year-box .row:hover,
.cal-row-fluid:hover {
  background-color: transparent;
}
.cal-month-day {
  height: 70px;
}
[class*="cal-cell"]:hover,
.cell-focus,
[class*="cal-cell"] .drop-active,
.cal-cell.drop-active {
  background-color: transparent;
}
.cal-year-box [class*="span"],
.cal-month-box [class*="cal-cell"] {
  height: 56px;
  border-right: 1px solid transparent;
  position: relative;
  float: right;
}
.cal-year-box [class*="span"] {
  min-height: 60px;
}
.cal-year-box .row [class*="col-"]:last-child,
.cal-month-box .cal-row [class*="cal-cell"]:last-child {
  border-right: 0px;
}
.cal-year-box .row,
.cal-month-box .cal-row-fluid {
  border-bottom: 1px solid transparent;
  margin-left: 0px;
  margin-right: 0px;
}
.cal-year-box .row:last-child,
.cal-month-box .cal-row-fluid:last-child {
  border-bottom: 0px;
}
.cal-month-box,
.cal-year-box,
.cal-week-box {
  border-top: 1px solid  transparent;
  border-bottom: 1px solid  transparent;
  border-right: 1px solid  transparent;
  border-left: 1px solid  transparent;
  border-radius: 2px;
}
.cal-month-box {
  border-right: 0px;
  border-bottom: 0px;
  height: -moz-calc(-102vh);
  height: -webkit-calc(-102vh);
  height: -o-calc(-102vh);
  height: calc(100vh - 202px);
  overflow-y: auto;
}
span[data-cal-date] {
  font-size: 12px;
  font-weight: normal;
  color: white;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  margin-top: 0;
  margin-right: 20px;
}
span[data-cal-date]:hover {
  opacity: 1;
}
.cal-day-outmonth span[data-cal-date] {
  display: none;
  color: #ccc;
  cursor: default;
}
.cal-day-today {
  background-color: transparent;
}
.cal-day-today span[data-cal-date] {
  color: darkgreen;
}
.cal-month-box .cal-day-today span[data-cal-date] {
  font-size: 1.9em;
}
.cal-day-holiday span[data-cal-date] {
  color: #800080;
}
.cal-day-weekend span[data-cal-date] {
  color: white;
}
#cal-week-box {
  border: 1px solid transparent;
  border-right: 0px;
  border-radius: 5px 0 0 5px;
  background-color: transparent;
  text-align: right;
  display: none;
}
.cal-week-box .cal-row-head {
  border-bottom: 1px solid transparent;
}
.cal-day-tick {
  border: 1px solid transparent;
  border-top: 0px solid;
  border-radius: 0 0 5px 5px;
  background-color: transparent;
  text-align: center;
}
.cal-day-tick .fa {
  display: none;
}
.cal-slide-box {
  border-top: 0px solid #8c8c8c;
  height: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}
.cal-slide-content {
  color: rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
.cal-slide-content a.event-item {
  color: #560062;
  font-weight: normal;
  text-decoration: none !important;
}
a.event-item-edit,
a.event-item-delete {
  padding-left: 5px;
}
.cal-year-box .cal-slide-content a.event-item,
.cal-year-box a.event-item-edit,
.cal-year-box a.event-item-delete {
  position: relative;
  top: -3px;
}
.events-list {
  max-height: 47px;
  padding-left: 5px;
}
.cal-column {
  border-left: 1px solid  transparent;
}
a.cal-event-week {
  text-decoration: none;
  color: #151515;
}
.badge-important {
  background-color: transparent;
}
.pointer {
  cursor: pointer;
}
.cal-year-box:last-child {
  border-bottom: 0px;
}
.cal-context {
  width: 100%;
  background: -webkit-linear-gradient(to left top, #A5FFD6, #84DCC6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(to left top, #A5FFD6, #84DCC6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(to left top, #A5FFD6, #84DCC6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left top, #A5FFD6, #84DCC6);
  /* Standard syntax */
  padding-bottom: 20px;
}
.calendarHeader {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 22px;
  height: 63px;
}
.calendarHeader .subTitle {
  font-size: 16px;
  padding: 5px 0;
}
.calanderWrapper .next {
  right: 10px;
}
.calanderWrapper .prev {
  left: 10px;
}
.calanderWrapper .prev,
.calanderWrapper .next {
  background: transparent;
  border: transparent;
  width: 50px;
  position: absolute;
  height: 63px;
  font-size: 18px;
  font-weight: 100;
  color: #ffffff;
}
.topCalendar {
  position: relative;
}
