body ,html{
    height: 100%;
    margin: 0;
    background: @color1;
}

.mainView{
    font-family: 'Droid Sans', sans-serif;
    width: 100%;
    height: 100%;
    top:0;
    width: 100%;
    position: absolute;
    left: 0;
    background: #e3e3e3;
    background: -webkit-linear-gradient(#ffffff, #e3e3e3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #e3e3e3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #e3e3e3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #e3e3e3); /* Standard syntax */

    button ,input{
        color: #ccc;
    }

}
button{
    font-family: 'Droid Sans', sans-serif;
    background-color: #fff;
    border: 2px solid @lightPurple;
    border-radius: 5px;
    color: @lightBlue;
    outline: transparent;
}
.appScreens{

    width: 100%;
    height: -moz-calc(100vh - @navHeight);
    height: -webkit-calc(100vh - @navHeight);
    height: -o-calc(100vh - @navHeight);
    height: calc(~'100vh - @navHeight');
    top:0;
    width: 100%;
    position: absolute;
    left: 0;
    .wrapper{
        padding-top: @navHeight;
    }


}
.getStartScreens{

    width: 100%;
    height: 100vh;
    top:0;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;

}

.bottomStyle{
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    &> div{
        height: 20px;
    }
    div:nth-child(5){
        background-color: @color5;
    }
    div:nth-child(4){
        background-color: @color4;
    }
    div:nth-child(3){
        background-color: @color1;
    }
    div:nth-child(2){
        background-color: @color3;
    }
    div:nth-child(1){
        background-color: @color2;
    }
}

.topStyle{
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    &> div{
        height: 20px;
    }
    div:nth-child(1){
        background-color: @color5;
    }
    div:nth-child(2){
        background-color: @color4;
    }
    div:nth-child(3){
        background-color: @color1;
    }
    div:nth-child(4){
        background-color: @color3;
    }
    div:nth-child(5){
        background-color: @color2;
    }
}

.logoImg{
    background-image: url('../source/images/logo.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% ;
    margin-left: -moz-calc(50% - 29px);
    margin-left: -webkit-calc(50% - 29px);
    margin-left: -o-calc(50% - 29px);
    margin-left: calc(~'50% - 29px');
}
.welcomeWrapper {
    background-color: @color1;
}

button{
    height: 50px;
    padding: 3px;
    border-radius: 4px;
}
.title{
    font-size: 36px;
}
.subTitle{
    font-size: 24px;
}


.start{
    z-index:1;
    top:66px;
    position: relative;
    .buttonsWrapper{
        position: relative;
        width: 90%;
        right: 10%;
        text-align: center;
        padding: 12px;
        white-space: normal;
        button{
            position: relative;
            display: inline-block;
            color: white;
            font-size: 21px;
            height: 40px;
            width: 33%;
        &:hover{
         border: white;
        }
        }

    }
}
.navBar{
    box-sizing: border-box;
    position: fixed;
    top:0;
    width: 100%;
    height: @navHeight;
    background-color: @navBarColor;


    z-index: 5;
    .logoImg ,.navActionToggle ,.options{
        display: inline-block;
        margin: 0;
    }
    .logoImg{
        position: absolute;
        right: 0;
        width: 54px;
        height: 50px;
        top:0;
        z-index: 2;
    }
    .navActionToggle{
        position: absolute;
        left: 0;
        top:0px;
        z-index: 2;
        width: 40px;
        height: 53px;
    }
    .options{
        position: relative;
        width: -moz-calc(100% - 100px);
        width: -webkit-calc(100% - 100px);
        width: -o-calc(100% - 100px);
        width: calc(~'100% - 100px');
        margin-left: 50px;
        text-align: center;
       // padding-top:10px;
        .smallOptions{
            width: 20%;
        }
        .largeOptions{
            width: 25%;
        }
    }
    .fa-exclamation-circle{
        color: red;
    }
    button{
        background-color: transparent;
        border: transparent;
        color: @iconsColor;
        position: relative;
        display: inline-block;
        .fa{
          font-size: 28px;
        }
        .tooltip{
            position: absolute;
            left: 60px;
            top: 30px;
            padding: 2px;
            color: @iconsColor;
            width: 200px;
            border: 4px solid #747474
        }
    }
    .navActionToggle{
        width: 40px;
        font-size: 40px;
    }
    .navActionToggle{
        white-space: nowrap;
    }
}
.sideBar{
    position: absolute;
    width: 100%;
    z-index: 2;
    top:@navHeight;
    background-color: black;
    button{
        border: none;
        border-bottom: 2px solid @iconsColor;
        font-size: 22px;
        color: @color2;
        font-weight: bold;
        width: 100%;
        background-color: transparent;
    }

}
/**.wrapper{
    z-index: 2;
    top:66px;
    width: 100%;
    height: 100%;
    position: fixed;
    .close{
    position: absolute;
    top:12px;
    left: 12px;
   }
}**/

@media (max-width: 500px) {
    .sideBar{
     top:@mobileNavHeight;
    }

    .appScreens{
        position: relative;
        width: 100%;
        height: -moz-calc(100vh - @mobileNavHeight);
        height: -webkit-calc(100vh - @mobileNavHeight);
        height: -o-calc(100vh - @mobileNavHeight);
        height: calc(~'100vh - @mobileNavHeight');
        top:0;

    }
    .navBar{
        height: @mobileNavHeight;
        button{
            .fa{
               font-size: 20px;
            }
        }
        .navActionToggle{
            height: 45px;
        }
    }
    .appScreens{

        .wrapper{
            padding-top: @mobileNavHeight;
        }


    }
}

//import('./login/css/login.less');
//import('./profile/css/profile.less');
@import "variables";
@import "../create/css/create";
@import "../segmentation/css/segmentation";
@import "../offers/css/offers";
@import "../welcome/css/welcome";
@import "../tutorial/css/tutorial";
@import "../chat/css/chat";
@import "../login/css/login";
@import "../profile/css/profile";
@import "../calendar/css/caledar";

