@navHeight: 66px;
@footerHeight:60px;
@mobileNavHeight:50px;

@textFont:arial;
@textColor:#FFFFFF;
@lightBlue: @color2;
@lightPurple: @color3;

@backgroundColor:@color4;
@color1: #FF686B;
@color2:#A5FFD6;
@color3:#84DCC6;
@color4:#FFA69E;
@color5:#ffffff;
@iconsColor: @color5;
@navBarColor: @color1;

