<div class="wrapper createWrapper" ng-controller="CreateCtrl as ctrl">
    <button class="back" ng-click="$root.components.create=false;$root.components.offers=true"> back</button>

    <div class="title">  <i class="fa fa-star"></i>create new moment  <i class="fa fa-star"></i></div>
    <form>
    <div class="userInput">
    <div>
        title
    </div>
        <input ng-model="title" placeholder="enter display name for your event">

    </div>
        <div class="userInput">
            <div>
               description
            </div>
            <input ng-model="description" placeholder="tell us about your event">

        </div>
        <div class="userInput">
            <div>
                location
            </div>
            <input ng-model="location" placeholder="where the magic happens">

        </div>
        <div class="userInput times">
            <div class="subTitle">
                date
            </div>
            <div>
            <div class="text"> from </div>
            <input ng-model="startDate" type="date">
            <div class="text"> to </div>
            <input ng-model="endDate" type="date">
                </div>
            <div class="subTitle">
                hour
            </div>
            <div>
                <div class="text"> from </div>
                <select ng-model="startHour" >
                    <option ng-repeat="option in hourOptions">{{option}}</option>
                </select>
                <div class="text"> to </div>
                <select ng-model="endHour" >
                    <option ng-repeat="option in hourOptions">{{option}}</option>
                </select>
            </div>

        </div>
        <div class="userInput">
            <div>
               people capacity
            </div>
            <select ng-model="peopleCapacity" >
                <option ng-repeat="option in peopleCapacityOptions">{{option}}</option>
            </select>


        </div>

        <button ng-click="submit()"> Creat </button>
    </form>
</div>