<div class="wrapper offersWrapper" ng-controller="OffersCtrl as ctrl" ng-init="init()">
   <div class="mainWrapper">
       <div class="title"> events </div>
       <div class="eventsWrapper">
       <button ng-repeat="event in events" ng-if="event.location==$root.appData.appCity"> <div>{{event.eventName}} </div>
           <div>{{event.location}} </div>
       </button>

       </div>
       <div>
           <div class="title"> local faces</div>
           <div class="peopleWrapper">
               <button ng-repeat="people in peoples" ng-if="people.location==$root.appData.appCity"> <div>{{people.name}}
               </div>
                   <div>{{people.location}}</div>
               </button>

           </div>
           <div class="title"> other Tourist</div>

           <div class="peopleWrapper">
               <button ng-repeat="people in peoples"  ng-if="people.location!=$root.appData.appCity">
                   <div>{{people.name}}
                   </div>
                   <div>{{people.location}}</div>
               </button>
               </button>

           </div>


       </div>
       <div>
           <button class="create" ng-click="$root.components.offers=false;$root.components.create=true;"> crate new moment!</button>
       </div>
       </div>
</div>