<div class="wrapper segmentationWrapper"  ng-controller="SegmentationCtrl as ctrl" ng-init="init()">
    <div class="mainWrapper">
<div class="titleWrapper">

        <div class="title">  Who <span class="r">are </span> <span class="u">you</span> ?</div>
        <div class="subTitle">  pick 3</div>
</div>
        <div class="segmentTypesWrapper">

        <button ng-repeat="segment in segmentTypes" ng-click="$parent.addSegment(segment._id)"
                ng-class="{'selected':style[segment._id]==1}"> {{segment.name}} </button>
        </div>
        <div>


        </div>


    </div>
