<div class="welcomeWrapper wrapper" ng-controller="welcomeCtrl as ctrl" >
  <div class="mainWrapper">

      <div class="topStyle">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          </div>

      <div class="logoImg"> </div>

      <div class="title"> where is your hometown? </div>


      <input ng-model="$root.appData.homeTown">

      <button ng-click="$root.components.segmentation=true;$root.components.welcome=false"> set </button>


      <div class="bottomStyle">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
      </div>

      <!--div class="title"> when will you get to {{$root.appData.appCity}}?</div>

      <button class="here" ng-click="$root.appData.homeTown= $root.appData.appCity;$root.components.segmentation=true;$root.components.welcome=false;">
          <i class="fa fa-location-arrow"></i>im here!</button>
      <button class="yes" ng-click="showDatePicker=!showDatePicker;">
          <i class="fa fa-calendar-check-o"></i>    yes!</button>
      <div ng-if="showDatePicker" class="datepickerWrapper">
          <div>
          <div class="text">start date </div>
      <datepicker date-format="dd/MM/yyyy">
          <input ng-model="$root.appData.visitStartDate" type="text"/>
      </datepicker>
          <div class="text"> end date </div>
          <datepicker date-format="dd/MM/yyyy">
              <input ng-model="$root.appData.visitEndDate" type="text"/>
          </datepicker>
          </div>

          </div>
      <div ng-if="showDatePicker" class="finishWrapper">
      <button ng-click="$root.components.segmentation=true;$root.components.welcome=false"> finish</button>
      </div!-->

  </div>

</div>