.createWrapper .title {
  color: #84DCC6;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.createWrapper .subTitle {
  color: #A5FFD6;
  font-size: 20px;
  padding: 5px 0;
}
.createWrapper form {
  padding: 20px 0;
  width: 80%;
  margin: auto;
  font-size: 19px;
}
.createWrapper .userInput {
  padding: 5px;
}
.createWrapper .userInput input {
  width: 100%;
  height: 29px;
  padding-top: 4px;
}
.createWrapper button {
  width: 100px;
  height: 60px;
}
.createWrapper .times {
  white-space: normal;
}
.createWrapper .times .text,
.createWrapper .times input,
.createWrapper .times select {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.createWrapper .back {
  height: 50px;
}
