@import "../../css/variables";
.createWrapper{
  .title{
    color: @lightPurple;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

  }
  .subTitle{
    color: @lightBlue;
    font-size: 20px;
    padding: 5px 0;
  }
  form{
    padding: 20px 0;
    width: 80%;
    margin: auto;
    font-size: 19px;
  }
  .userInput{
    padding: 5px;
    input{
      width: 100%;
      height: 29px;
      padding-top: 4px;
    }
  }
  button{
    width: 100px;
     height: 60px;
  }
  .times{
    white-space: normal;
    .text ,input ,select{
      width: 20%;
      display: inline-block;
      text-align: center;
    }
  }
  .back{
    height: 50px;
  }
}