.profileWrapper .userData,
.profileWrapper .userIntrest {
  color: #A5FFD6;
  padding: 10px;
}
.profileWrapper .userData .title,
.profileWrapper .userIntrest .title {
  color: #84DCC6;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
}
.profileWrapper .btn {
  padding: 10px;
  height: 60px;
  width: 150px;
  font-size: 24px;
}
.profileWrapper .btn .fa {
  padding: 0 4px;
}
.profileWrapper .userData > div {
  padding: 5px 0;
}
.profileWrapper .userIntrest .description {
  display: inline-block;
  color: #A5FFD6;
  font-size: 18px;
  padding-left: 4px;
}
.profileWrapper .userIntrest .description .fa {
  padding: 0 5px;
}
