@import "../../css/variables";
.profileWrapper{
.userData ,.userIntrest{
  color: @lightBlue;
  padding: 10px;
  .title{
    color: @lightPurple;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
  }
}
  .btn{
    padding: 10px;
    height: 60px;
    width: 150px;
    font-size: 24px;
    .fa{
      padding: 0 4px;
    }
  }
  .userData{
    & > div{
      padding: 5px 0;
    }
  }
  .userIntrest{

    .description{
      display: inline-block;
      color: @lightBlue;
      font-size: 18px;
      padding-left: 4px;
      .fa{
       padding: 0 5px;
      }
    }
  }
}