<html ng-app="tripin">
<head>
    <title> Tripin</title>
        <!--css -->
    <link href="tripin/css/styles.css" rel="stylesheet" />
    <!--scripts-->

    <script src="tripin/scripts/angular.js" type="text/javascript"></script>
    <script src="tripin/scripts/angular-animate.min.js"></script>
    <script src="tripin/scripts/angular-touch.min.js"></script>
    <script src="tripin/source/app.js"></script>
    <script src="tripin/bower_components/moment/moment.js"></script>
    <!--script src="/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" rel="stylesheet"></script!-->
    <script src="tripin/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>

    <script src="tripin/bower_components/angularjs-datepicker/src/js/angular-datepicker.js"></script>
    <!--<script src="tripin/bower_components/angular-resource/src/js/angular-datepicker.js"></script>-->
    <link href="tripin/bower_components/angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <script src="tripin/bower_components/angular-resource/angular-resource.js"></script>
    <!--controllers-->
    <script src="tripin/source/serverConnection.js"></script>
    <script src="tripin/source/mainCtrl.js"></script>
    <script src="tripin/calendar/controllers/calendarCtrl.js"></script>
    <script src="tripin/profile/controllers/profileCtrl.js"></script>
    <script src="tripin/create/controllers/createCtrl.js"></script>
    <script src="tripin/offers/controllers/offersCtrl.js"></script>
    <script src="tripin/segmentation/controllers/segmentationCtrl.js"></script>
    <script src="tripin/welcome/controllers/welcomeCtrl.js"></script>
    <script src="tripin/tutorial/controllers/tutorialCtrl.js"></script>
    <script src="tripin/login/controllers/loginCtrl.js"></script>
    <script src="tripin/login/directives/loginDirective.js"></script>
    <script src="tripin/profile/directives/profileDirective.js"></script>
    <script src="tripin/offers/directives/offersDirective.js"></script>
    <script src="tripin/welcome/directives/welcome.js"></script>
    <script src="tripin/tutorial/directives/tutorialDirective.js"></script>
    <script src="tripin/chat/directives/chatDirective.js"></script>
    <script src="tripin/calendar/directives/calendarDirective.js"></script>
    <script src="tripin/create/directives/createDirective.js"></script>
    <script src="tripin/segmentation/directives/segmentationDirective.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body ng-controller="mainCtrl as ctrl" ng-init="ctrl.init()">


<div class="mainView">
    <!-- if user not logged in-->
    <div ng-if="!$root.components.getStarted" class="getStartScreens">

        <div ng-if="$root.components.welcome">
            <welcome config="$scope.components.welcome">

            </welcome>
        </div>

        <div ng-if="$root.components.login">
            <login config="$scope.components">
            </login>
        </div>

        <div ng-if="$root.components.segmentation">
            <segmentation config="$scope.components">

            </segmentation>
        </div>

    </div>
    <!--main after user logged in -->
    <div ng-if="$root.components.getStarted" class="appScreens">
        <div class="navBar">
        <button class="navActionToggle" ng-click="showSideBar=!showSideBar">
            <i class="fa fa-bars"></i>
        </button>
            <div class="options">
                <!--button ng-if="$root.appData.homeTown==''" ng-class="{'smallOptions': $root.appData.homeTown=='','largeOptions':$root.appData.homeTown!=''}">
                    <i class="fa fa-exclamation-circle"></i>
                    <div class="tooltip">  <select type="text" name="question" ng-model="$root.appData.homeTown"  value="please enter your home town" >
                        <option value="" disabled selected> please enter your home town</option>
                        <option ng-repeat="option in citiesOptions">{{option}}</option>
                    </select></div>
                </button-->
                <button  ng-click="$root.components.calendar=true;$root.components.offers=false;" ng-class="{'smallOptions': $root.appData.homeTown=='','largeOptions':$root.appData.homeTown!=''}">
                    <i class="fa fa-calendar-check-o"></i>
                </button>
                <button  ng-class="{'smallOptions': $root.appData.homeTown=='','largeOptions':$root.appData.homeTown!=''}">
                    <i class="fa fa-comments"></i>
                </button>
                <button  ng-click="$root.components.offers=true;$root.components.calendar=false;$root.components.profile=false;$root.components.create=false;" ng-class="{'smallOptions': $root.appData.homeTown=='','largeOptions':$root.appData.homeTown!=''}">
                    <i class="fa fa-home"></i>
                </button>

                </div>

         <div class="logoImg"> </div>
        </div>
        <div class="sideBar" ng-if="showSideBar">
            <button ng-click="$root.components.profile=true;$root.components.offers=false;">
                profile

            </button>
            <button>
               share
            </button>
            <button>
                feedback us
            </button>
            <button>
               settings
            </button>
            <button>
                FAQ
            </button>
            </div>

        <div ng-if="$root.components.offers" >
            <offers config="$scope.components">

            </offers>
        </div>

        <div ng-if="$root.components.create">
            <create config="$scope.components">
            </create>
        </div>

        <div ng-if="$root.components.profile" >
            <profile config="$scope.components">

            </profile>
        </div>

        <div ng-if="$root.components.calendar" >
            <calendar config="$scope.calendar">

            </calendar>
        </div>



    </div>



<!--div ng-if="$root.components.tutorial" >
    <tutorial config="$scope.components">

    </tutorial>
</div-->
    </div>


</body>
</html>