<!DOCTYPE html>
<html>
<head>
    <title>
        <%=title %>
    </title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>
<body>
<% for(var i in messages) { %>
<div class="flash">
    <%= messages[i] %>
</div>
<% } %>

<div class="container">
    <form class="form-signin" action="/login" method="post">
        <h2 class="form-signin-heading text-center">Open, says me</h2>

        <label for="username" class="sr-only">Username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>

        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>

    <div class="row">
        <div class="center-block text-center">
            <a href="/oauth/facebook">Login with Facebook</a> |
            <a href="/oauth/twitter">Login with Twitter</a>
        </div>
    </div>
</div>
</div>
<!--TODO - remove this file-->
</body>
</html>