@import "../../css/variables";
.segmentationWrapper {
  .mainWrapper{
    background-color: @color3;
    .titleWrapper{
      background-color: @color1;
    }
    .subTitle{
      color:@color3;
    }
  }

  .segmentTypesWrapper {
    white-space: normal;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    button {
      margin: 5px;
      width: 33%;
      position: relative;
      display: inline-block;
      height: 200px;
      opacity: 0.6;
      &:hover{
        opacity: 1;
      }
    }
    .selected{
      border:4px solid #747474;
      border-radius: 6px;
    }
  }
  .done{
    width: 300px;
    height: 65px;
    color: @lightBlue;
  }
}
@media (max-width: 500px){
  .segmentationWrapper {
    .mainWrapper{
      .segmentTypesWrapper{
      button{
        margin: 0;
        border-radius: 0;
        color: #ccc;
        border: transparent;
      }
        .selected{
          border:4px solid #747474;
          border-radius: 6px;
        }
      }
    }
  }

}