.segmentationWrapper .mainWrapper {
  background-color: #84DCC6;
}
.segmentationWrapper .mainWrapper .titleWrapper {
  background-color: #FF686B;
}
.segmentationWrapper .mainWrapper .subTitle {
  color: #84DCC6;
}
.segmentationWrapper .segmentTypesWrapper {
  white-space: normal;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.segmentationWrapper .segmentTypesWrapper button {
  margin: 5px;
  width: 33%;
  position: relative;
  display: inline-block;
  height: 200px;
  opacity: 0.6;
}
.segmentationWrapper .segmentTypesWrapper button:hover {
  opacity: 1;
}
.segmentationWrapper .segmentTypesWrapper .selected {
  border: 4px solid #747474;
  border-radius: 6px;
}
.segmentationWrapper .done {
  width: 300px;
  height: 65px;
  color: #A5FFD6;
}
@media (max-width: 500px) {
  .segmentationWrapper .mainWrapper .segmentTypesWrapper button {
    margin: 0;
    border-radius: 0;
    color: #ccc;
    border: transparent;
  }
  .segmentationWrapper .mainWrapper .segmentTypesWrapper .selected {
    border: 4px solid #747474;
    border-radius: 6px;
  }
}
