<div class="wrapper profileWrapper" ng-controller="ProfileCtrl as ctrl" ng-init="init()">

    <button class="back btn" ng-click="$root.components.profile=false;$root.components.offers=true;"> back</button>
<div class="userData">
    <div> {{userData.img}}</div>
    <div class="title"> {{userData.userName}}  {{userData.userLastName}}</div>
    <div>  {{userData.age}} years old</div>
    <div>  from {{userData.location}} </div>

    <div class="btn"> <button ng-click="editUserData=!editUserData"> edit <i class="fa fa-pencil-square-o"></i> </button></div>

</div>
    <div class="userData" ng-if="editUserData==true">
        <div class="userInput">
            <div class="title"> image</div>
            <input ng-model="userData.img" type="file">

        </div>
        <div class="userInput">
            <div class="title"> First name</div>
            <input ng-model="userData.userName" placeholder="userData.userName">
        </div>
        <div class="userInput">
            <div class="title"> Last name</div>
            <input ng-model="userData.userLastName" placeholder="userData.userLastName">
        </div>
        <div class="userInput">
            <div class="title"> Email</div>
            <input ng-model="userData.email" placeholder="userData.email">
        </div>
        <div class="userInput">
            <div class="title"> Location</div>
            <input ng-model="userData.location" placeholder="userData.location">
        </div>

        <div class="btn" > <button ng-click="$parent.editUserData=!$parent.editUserData;$parent.save()"> save <i class="fa fa-floppy-o"></i></button></div>

    </div>
    <div class="userIntrest" >
        <div ng-repeat="item in userIntrest"> <div class="title">{{item.title}} </div>
        <div class="description" ng-repeat="data in  item.data"> <i class="fa fa-star"></i>{{data.description}}</div>
        </div>

        <div class="btn"> <button ng-click="editUserIntrest=!editUserIntrest"> edit <i class="fa fa-pencil-square-o"></i> </button></div>


    </div>
    <div class="userIntrest" ng-if="editUserIntrest==true">
        <div ng-repeat="item in userIntrest"> <div class="title">{{item.title}} </div>
            <div class="description" ng-repeat="data in  item.data">
                <div class="userInput">
                    <div > {{item.title}} item</div>
                    <input ng-model="item.data.description" placeholder="item.data.description">
                </div>
            </div>
        </div>

        <div class="btn" > <button ng-click="$parent.editUserIntrest=!$parent.editUserIntrest"> save <i class="fa fa-floppy-o"></i></button></div>
    </div>
</div>