        <div class="wrapper" ng-controller="CalendarCtrl as ctrl">
                <button class="back btn" ng-click="$root.components.calendar=false;$root.components.offers=true;"> back</button>
                <div class="topCalendar">
                <button class=" calendarPrev prev "
                        mwl-date-modifier
                        date="calendarDate"
                        decrement="calendarView" >  <i class="fa fa-chevron-left"></i> </button>

                <span class="title calendarTitle"> our events to month {{calendarDate.toLocaleDateString(('en-IN'), {  year: 'numeric', month: 'long' }) }}!</span>
                <button class=" calendarNext next"
                        mwl-date-modifier
                        date="calendarDate"
                        increment="calendarView" > <i class="fa fa-chevron-right"></i> </button>
                        </div>

    <mwl-calendar
            view="calendarView"
            view-date="calendarDate"
            events="events"
            view-title="calendarTitle"
            on-event-click="eventClicked(calendarEvent)"
            on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
            cell-is-open="true">
    </mwl-calendar>

</div>